@import "tailwindcss";

:root {
  --color-black-50: 50, 50, 50;
  --color-black-900: 10, 10, 10;
  --color-cyan-100: 206, 240, 248;
  --color-cyan-200: 165, 230, 244;
  --color-cyan-300: 125, 211, 238;
  --color-cyan-400: 34, 211, 238;
  --color-cyan-500: 6, 182, 212;
  --color-cyan-600: 8, 145, 178;
  --color-indigo-100: 224, 231, 245;
  --color-indigo-200: 199, 210, 240;
  --color-indigo-300: 165, 180, 235;
  --color-indigo-400: 102, 126, 234;
  --color-indigo-500: 79, 70, 229;
  --color-indigo-600: 67, 56, 202;
  --color-purple-100: 245, 230, 255;
  --color-purple-200: 233, 204, 255;
  --color-purple-300: 216, 180, 254;
  --color-purple-400: 192, 132, 250;
  --color-purple-500: 168, 85, 247;
  --color-purple-600: 147, 51, 234;
  --color-red-100: 254, 226, 226;
  --color-red-200: 254, 202, 202;
  --color-red-300: 252, 165, 165;
  --color-red-400: 248, 113, 113;
  --color-red-500: 239, 68, 68;
  --color-red-600: 220, 38, 38;
  --color-yellow-100: 254, 243, 199;
  --color-yellow-200: 253, 230, 138;
  --color-yellow-300: 252, 211, 77;
  --color-yellow-400: 250, 204, 21;
  --color-yellow-500: 234, 179, 8;
  --color-yellow-600: 202, 138, 4;
  --color-green-100: 220, 252, 231;
  --color-green-200: 187, 247, 208;
  --color-green-300: 134, 239, 172;
  --color-green-400: 74, 222, 128;
  --color-green-500: 34, 197, 94;
  --color-green-600: 22, 163, 74;
  --animation1: COLOR_SHIFT_1 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
  --animation2: COLOR_SHIFT_2 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
  --animation3: COLOR_SHIFT_3 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
  --animation4: COLOR_SHIFT_4 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
  --animation5: COLOR_SHIFT_5 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
  --animation6: COLOR_SHIFT_6 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
  --animationText: COLOR_SHIFT_TEXT 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  @apply box-border;
}

body {
  color: rgb(var(--color-black-50));
  background: rgb(var(--color-black-900));
}

main {
  @apply h-screen w-full grid grid-rows-3 lg:grid-cols-2 overflow-hidden;
}

/* BEGIN ANIMATIONS */

.box-one {
  animation: var(--animation1);
}

.box-two {
  animation: var(--animation2);
}

.box-three {
  animation: var(--animation3);
}

.box-four {
  animation: var(--animation4);
}

.box-five {
  animation: var(--animation5);
}

.box-six {
  animation: var(--animation6);
}

.color-shift-text {
  animation: var(--animationText);
}

@keyframes COLOR_SHIFT_1 {
  from {
    background-color: rgb(var(--color-cyan-100));
  }
  15% {
    background-color: rgb(var(--color-indigo-100));
  }
  31% {
    background-color: rgb(var(--color-purple-100));
  }
  46% {
    background-color: rgb(var(--color-red-100));
  }
  61% {
    background-color: rgb(var(--color-yellow-100));
  }
  76% {
    background-color: rgb(var(--color-green-100));
  }
  to {
    background-color: rgb(var(--color-cyan-100));
  }
}

@keyframes COLOR_SHIFT_2 {
  from {
    background-color: rgb(var(--color-cyan-200));
  }
  15% {
    background-color: rgb(var(--color-indigo-200));
  }
  31% {
    background-color: rgb(var(--color-purple-200));
  }
  46% {
    background-color: rgb(var(--color-red-200));
  }
  61% {
    background-color: rgb(var(--color-yellow-200));
  }
  76% {
    background-color: rgb(var(--color-green-200));
  }
  to {
    background-color: rgb(var(--color-cyan-200));
  }
}

@keyframes COLOR_SHIFT_3 {
  from {
    background-color: rgb(var(--color-cyan-300));
  }
  15% {
    background-color: rgb(var(--color-indigo-300));
  }
  31% {
    background-color: rgb(var(--color-purple-300));
  }
  46% {
    background-color: rgb(var(--color-red-300));
  }
  61% {
    background-color: rgb(var(--color-yellow-300));
  }
  76% {
    background-color: rgb(var(--color-green-300));
  }
  to {
    background-color: rgb(var(--color-cyan-300));
  }
}

@keyframes COLOR_SHIFT_4 {
  from {
    background-color: rgb(var(--color-cyan-400));
  }
  15% {
    background-color: rgb(var(--color-indigo-400));
  }
  31% {
    background-color: rgb(var(--color-purple-400));
  }
  46% {
    background-color: rgb(var(--color-red-400));
  }
  61% {
    background-color: rgb(var(--color-yellow-400));
  }
  76% {
    background-color: rgb(var(--color-green-400));
  }
  to {
    background-color: rgb(var(--color-cyan-400));
  }
}

@keyframes COLOR_SHIFT_5 {
  from {
    background-color: rgb(var(--color-cyan-500));
  }
  15% {
    background-color: rgb(var(--color-indigo-500));
  }
  31% {
    background-color: rgb(var(--color-purple-500));
  }
  46% {
    background-color: rgb(var(--color-red-500));
  }
  61% {
    background-color: rgb(var(--color-yellow-500));
  }
  76% {
    background-color: rgb(var(--color-green-500));
  }
  to {
    background-color: rgb(var(--color-cyan-500));
  }
}

@keyframes COLOR_SHIFT_6 {
  from {
    background-color: rgb(var(--color-cyan-600));
  }
  15% {
    background-color: rgb(var(--color-indigo-600));
  }
  31% {
    background-color: rgb(var(--color-purple-600));
  }
  46% {
    background-color: rgb(var(--color-red-600));
  }
  61% {
    background-color: rgb(var(--color-yellow-600));
  }
  76% {
    background-color: rgb(var(--color-green-600));
  }
  to {
    background-color: rgb(var(--color-cyan-600));
  }
}

@keyframes COLOR_SHIFT_TEXT {
  from {
    color: rgb(var(--color-cyan-400));
  }
  15% {
    color: rgb(var(--color-indigo-400));
  }
  31% {
    color: rgb(var(--color-purple-400));
  }
  46% {
    color: rgb(var(--color-red-400));
  }
  61% {
    color: rgb(var(--color-yellow-400));
  }
  76% {
    color: rgb(var(--color-green-400));
  }
  to {
    color: rgb(var(--color-cyan-400));
  }
}

/* END ANIMATIONS */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
