@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-transparent: transparent;

  --color-black-50: #fafafa;
  --color-black-100: #f5f5f5;
  --color-black-200: #e5e5e5;
  --color-black-300: #d4d4d4;
  --color-black-400: #a3a3a3;
  --color-black-500: #737373;
  --color-black-600: #525252;
  --color-black-700: #404040;
  --color-black-800: #262626;
  --color-black-900: #171717;
  --color-black-950: #0a0a0a;

  --color-cyan-50: #ecfeff;
  --color-cyan-100: #cffafe;
  --color-cyan-200: #a5f3fc;
  --color-cyan-300: #67e8f9;
  --color-cyan-400: #22d3ee;
  --color-cyan-500: #06b6d4;
  --color-cyan-600: #0891b2;
  --color-cyan-700: #0e7490;
  --color-cyan-800: #155e75;
  --color-cyan-900: #164e63;
  --color-cyan-950: #083344;

  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;
  --color-indigo-950: #1e1b4b;

  --color-purple-50: #fdf4ff;
  --color-purple-100: #fae8ff;
  --color-purple-200: #f5d0fe;
  --color-purple-300: #f0abfc;
  --color-purple-400: #e879f9;
  --color-purple-500: #d946ef;
  --color-purple-600: #c026d3;
  --color-purple-700: #a21caf;
  --color-purple-800: #86198f;
  --color-purple-900: #701a75;
  --color-purple-950: #4a044e;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c3;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;
  --color-yellow-700: #a16207;
  --color-yellow-800: #854d0e;
  --color-yellow-900: #713f12;
  --color-yellow-950: #422006;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #052e16;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --animation1: COLOR_SHIFT_1 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
    --animation2: COLOR_SHIFT_2 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
    --animation3: COLOR_SHIFT_3 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
    --animation4: COLOR_SHIFT_4 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
    --animation5: COLOR_SHIFT_5 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
    --animation6: COLOR_SHIFT_6 24s cubic-bezier(0, -0.4, 1, 1.35) infinite;
    --animationText: COLOR_SHIFT_TEXT 24s cubic-bezier(0, -0.4, 1, 1.35)
      infinite;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  html {
    @apply box-border;
  }

  body {
    color: var(--color-black-50);
    background: var(--color-black-900);
  }

  main {
    @apply h-screen w-full grid grid-rows-3 grid-cols-none lg:grid-rows-none lg:grid-cols-2 overflow-hidden;
  }

  /* BEGIN ANIMATIONS */

  .box-one {
    animation: var(--animation1);
  }

  .box-two {
    animation: var(--animation2);
  }

  .box-three {
    animation: var(--animation3);
  }

  .box-four {
    animation: var(--animation4);
  }

  .box-five {
    animation: var(--animation5);
  }

  .box-six {
    animation: var(--animation6);
  }

  .color-shift-text {
    animation: var(--animationText);
  }

  @keyframes COLOR_SHIFT_1 {
    from {
      background-color: var(--color-cyan-100);
    }
    15% {
      background-color: var(--color-indigo-100);
    }
    31% {
      background-color: var(--color-purple-100);
    }
    46% {
      background-color: var(--color-red-100);
    }
    61% {
      background-color: var(--color-yellow-100);
    }
    76% {
      background-color: var(--color-green-100);
    }
    to {
      background-color: var(--color-cyan-100);
    }
  }

  @keyframes COLOR_SHIFT_2 {
    from {
      background-color: var(--color-cyan-200);
    }
    15% {
      background-color: var(--color-indigo-200);
    }
    31% {
      background-color: var(--color-purple-200);
    }
    46% {
      background-color: var(--color-red-200);
    }
    61% {
      background-color: var(--color-yellow-200);
    }
    76% {
      background-color: var(--color-green-200);
    }
    to {
      background-color: var(--color-cyan-200);
    }
  }

  @keyframes COLOR_SHIFT_3 {
    from {
      background-color: var(--color-cyan-300);
    }
    15% {
      background-color: var(--color-indigo-300);
    }
    31% {
      background-color: var(--color-purple-300);
    }
    46% {
      background-color: var(--color-red-300);
    }
    61% {
      background-color: var(--color-yellow-300);
    }
    76% {
      background-color: var(--color-green-300);
    }
    to {
      background-color: var(--color-cyan-300);
    }
  }

  @keyframes COLOR_SHIFT_4 {
    from {
      background-color: var(--color-cyan-400);
    }
    15% {
      background-color: var(--color-indigo-400);
    }
    31% {
      background-color: var(--color-purple-400);
    }
    46% {
      background-color: var(--color-red-400);
    }
    61% {
      background-color: var(--color-yellow-400);
    }
    76% {
      background-color: var(--color-green-400);
    }
    to {
      background-color: var(--color-cyan-400);
    }
  }

  @keyframes COLOR_SHIFT_5 {
    from {
      background-color: var(--color-cyan-500);
    }
    15% {
      background-color: var(--color-indigo-500);
    }
    31% {
      background-color: var(--color-purple-500);
    }
    46% {
      background-color: var(--color-red-500);
    }
    61% {
      background-color: var(--color-yellow-500);
    }
    76% {
      background-color: var(--color-green-500);
    }
    to {
      background-color: var(--color-cyan-500);
    }
  }

  @keyframes COLOR_SHIFT_6 {
    from {
      background-color: var(--color-cyan-600);
    }
    15% {
      background-color: var(--color-indigo-600);
    }
    31% {
      background-color: var(--color-purple-600);
    }
    46% {
      background-color: var(--color-red-600);
    }
    61% {
      background-color: var(--color-yellow-600);
    }
    76% {
      background-color: var(--color-green-600);
    }
    to {
      background-color: var(--color-cyan-600);
    }
  }

  @keyframes COLOR_SHIFT_TEXT {
    from {
      color: var(--color-cyan-400);
    }
    15% {
      color: var(--color-indigo-400);
    }
    31% {
      color: var(--color-purple-400);
    }
    46% {
      color: var(--color-red-400);
    }
    61% {
      color: var(--color-yellow-400);
    }
    76% {
      color: var(--color-green-400);
    }
    to {
      color: var(--color-cyan-400);
    }
  }

  /* END ANIMATIONS */
}
