.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-align: right;
}

.HeaderLogo {
  color: var(--link-color);
  flex-basis: 50%;
  font-size: 4rem;
  font-style: italic;
  font-weight: 800;
  text-align: left;
}

.HeaderLogo > a {
  border-bottom: 0;
}

.HeaderLogo img {
  max-height: 8rem;
}

.HeaderList {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  list-style-type: none;
}

.HeaderItem {
  font-style: italic;
  font-weight: 200;
  margin: 0 0 0 4rem;
}

.HeaderItem .active {
  color: var(--link-color-lite);
}
