.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.HeaderLogo {
  flex-basis: 50%;
}

.HeaderLogo img {
  max-height: 8rem;
}

.HeaderList {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  list-style-type: none;
}

.HeaderItem {
  font-style: italic;
  font-weight: 200;
  margin: 0 0 0 2rem;
}

.HeaderItem .active {
  color: var(--link-color-lite);
}

/* Tablet and up */
@media (min-width: 600px) {
  .HeaderItem {
    margin: 0 0 0 4rem;
  }
}

