.ProjectImg {
  max-width: 100%;
}

.ProjectLink {
  margin: .5rem 0 0;
}

.ProjectName {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem 0;
}

.ProjectTech {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.ProjectDesc {
  line-height: 1.5;
}

/* Tablets and up */
@media (min-width: 600px) {
  .ProjectLink {
    text-align: right;
  }
}
